@import './Animations.css';

#aboutme-container {
    min-height: 100vh;
    background-image: url("../public/images/backgrounds/Planetbackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: transparent;
}

#aboutme-header {
    
    background-color: rgba(250,250,250,0.05);
}

#skills-header {
    padding-top: 30px;
    text-shadow: 3px 3px 3px #000000;
}

#aboutme-body img {
    margin: 10px;
    box-shadow: 2px 2px 2px #000000;
}

#aboutme-body img:hover {
    background-color: rgba(200, 200, 200, 0.1);

}

.skill-dropdown{
    display: inline-block;
}

@media only screen and (min-width: 480px){
    #aboutme-container h1 {
        animation-name: slide-in-up, fade-in;
        animation-duration: 1s;
    }

    #aboutme-container h5 {
        animation-name: slide-in-up, fade-in;
        animation-duration: 1s;
    }

    #aboutme-body h4{
        animation-name: slide-in-up, fade-in;
        animation-duration: 1s;
    }
    
}

